::-webkit-scrollbar {
    width: 5px;
    border: 2px solid #fff;
    background-color: #acacac;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #acacac;
}

::-webkit-scrollbar:horizontal {
    height: 5px;
}

::selection {
    background: gray;
    color: #fff;
}

::-moz-selection {
    background: gray;
    color: #fff;
}

::-webkit-selection {
    background: gray;
    color: #fff;
}

a,a:active,a:visited,a:hover {
    color: #0597e1;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

body {
    color: #5AA2F8;
    font-weight: 100;
    font-size: 9px;
    font-family: 'open sans',calibri,Helvetica,sans-serif;
    line-height: 100%;
}


#br {
    display: inline-block;
    margin-left: 380px;
    padding: 35px;
    width: 450px;
    color: #fff;
    text-align: center;
}

.toptitle,h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Montserrat',Helvetica,cambria,sans-serif;
}

.toptitle {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
}

.toptitle:hover {
    color: #0597e1;
}

h1 {
    color: #323232;
    font-weight: 400;
    font-size: 20px !important;
}

#top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    padding: 15px;
    width: 100%;
    height: 20px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans',Helvetica,cambria,sans-serif;
}

#top span {
    display: inline-block;
    padding-top: 5px;
}

.return {
    color: #E6C4FF;
    float: right;
    margin-top: 3px;
    margin-right: 30px;
    font-size: 16px;
}

#top a:hover {
    color: #fff;
}

ol li {
    margin-left: -15px;
    padding: 5px;
}

ul li {
    position: relative;
    margin-left: -20px;
    list-style-type: none;
}

ul li:before {
    position: absolute;
    margin-left: -10px;
    content: '\f105';
    font-size: 12px;
    font-family: FontAwesome;
}

.grid {
    position: fixed;
    top: 50px;
    margin-bottom:100px;
    margin-left: 300px;
    min-height:800px;
    text-align: justify;
    line-height: 100%;
}

.grid-item {
    margin: 15px;
    padding: 10px 0;
    width: 230px;
    height: 270px;
    background: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.grid-item img {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.grid-item:hover img {
    box-shadow: 0 0 0 21px black,0 0 0 22px #fff;
    -webkit-filter: grayscale(100%);
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
}

div.column {
    float: left;
    width: 50%;
}

.name {
    margin: 15px 0;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Montserrat',Helvetica,cambria,sans-serif;
    line-height:100%;
}

.long {
    margin:10px 0;
    font-size:14px;
}

.info {
    position: relative;
    margin: 15px 0;
    color: #ccc;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Open Sans';
    line-height: 120%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    width: 250px;
    height: 100%;
    background: #fff;
}

.filters {
    margin-top: 45px;
}

button {
    display: block;
    padding-left: 10px;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: #828282;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    font-family: 'Open Sans',Helvetica,cambria,sans-serif;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.button.is-checked::before {
    position: absolute;
    margin-left: -10px;
    margin-top: 2px;
    content: '\f105';
    font-family: FontAwesome;
}

.button:active,.button.is-checked {
    color: #000;
}

.button-group {
    margin: 20px 0;
}


iframe {display:none}

.tmblr-iframe.tmblr-iframe--desktop-loggedin-controls.iframe-controls--desktop {display:none}

#credit{line-height:100%; border-radius:50%;position:fixed;bottom:10px;right:10px;color:#fff;background:rgba(0,0,0,.2);padding:5px;width:10px;height:10px;font-family:roboto;overflow:hidden;font-size:10px;font-weight:100;white-space:nowrap;-moz-transition:all .6s ease-in-out;-ms-transition:all .6s ease-in-out;-o-transition:all .6s ease-in-out;-webkit-transition:all .6s ease-in-out;transition:all .6s ease-in-out}#credit:hover{background:#000;width:80px;border-radius:15px}#credit:before{font-size:10px;content:'\f292';font-family:FontAwesome;padding-right:5px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 800px;
  margin: 20px auto;
  height: 500px;
}


